@charset "UTF-8";


.shop-img {width:100; height:450px; background-size:cover;}

.product-bar {background:#ccc;}
.product-details {height:50px; border-bottom:1px solid #ccc;}
.product-details > li {
	width:130px; height:100%; float:left; 
	margin:0 10px; line-height:50px;
	text-transform:capitalize; text-align:center;
	cursor: pointer;
	transition:all 0.4s ease;
}
.product-details > li:hover {color:#0aad0a;  border-bottom:2px solid #0aad0a;}


.product-detail.active {color:#0aad0a;  border-bottom:2px solid #0aad0a;}
.product-information.active {color:#0aad0a;  border-bottom:2px solid #0aad0a;}
