@charset "UTF-8";

/* === 공통 === */
/* body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
} */

@font-face {
    font-family:sandol;
    src:url('/resources/font/AppleSDGothicNeoM.eot');
}
@font-face {
    font-family:sandolB;
    src:url('/resources/font/AppleSDGothicNeoB.eot');
}

body {
	font-family:sandolB; color:#000000;
}

ul li {list-style:none;}
a {color:#000000;}

.headerBottom {width:80%; margin:0 auto; border-bottom:1px solid #333;}

.logo > img {width:50px; height:50px; background-size:cover;}
.logoTitle {font-size:20px; font-weight:bold; }

.bi-person {font-size:18px;}

.social-bottom {padding-bottom:30px;}
.social {padding:20px 0; text-align:center;}

.list-inline-item:hover, .bi-cart3:hover {color:#0aad0a; font-weight:bold;}
#inquiry {cursor:pointer;}

img {-webkit-user-drag:none;}

/* === 헤더 영역 === */
.myinfoBtn, .logout, .inquryBtn, .bi-cart3 {color:#333;}
.loginTxt {color:#333;}
.createBtn {color:#0aad0a;}

/* === myPage.jsp === */
.h-container {
	width:80%;
    height:600px;  
	margin:10px auto;
	padding:10px;
}
.myPageLeftbar {
	float:left;
	width:200px;
	height:100%;
	margin:60px 30px 0 30px;
	font-weight:bold;
	font-size:24px;
}
.myPageLeftbar > ul > li {margin-bottom:50px; font-size:18px;}
.myPageLeftbar > ul > li > div > a {color:#c0c0c0;}
.myPageLeftbar > ul > li:hover {cursor:pointer; color:#0aad0a;}
.updateBtnz {color:#333;}
.myPageLeftbar > ul > li > div > a.active {color:#333;}
.updateBtn:hover {color:#333;}

.myPageBody{ margin-left:300px;	height:100%; }
.titleText {text-align:left; padding:10px 0 30px;}
.myInfoBox > ul {
	display:flex;
	height:200px;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}
.myInfoBox > ul > li {
	flaot:left;
	margin:10px;
	font-weight:bold; font-size:25px;
}
.myInfoName {margin-top:50px;}
.myInfoBox > ul > li:nth-child(2), .myInfoBox > ul > li:nth-child(3) {margin-top:70px;}
.myInfoBox > ul > li {margin:0 auto;}
.myInfoemail {height:50px; font-weight:normal; font-size:18px; color:#aaa;}
.myInfoBtn, .myInfodelete {
	width:160px; height:50px; text-align:center; 
	margin-left:30px;
	font-size:18px; line-height:50px;
	border:1px solid #333; border-radius:30px;
	}
.myInfoBtn:hover, .myInfodelete:hover {cursor:pointer; color:#0aad0a;}

.noOrder {text-align:center; font-size:20px;}
.orderBox > ul {
	height:100px;
	border-bottom:1px solid #333;
}
.moreBtn {color:#333; font-weight:bold;}


