@charset "UTF-8";

ul li {list-style:none;}

.logo > img {width:50px; height:50px; background-size:cover;}

.bi-person {font-size:18px;}

.social-bottom {padding-bottom:30px;}
.social {padding:20px 0; text-align:center;}

#inquiry {cursor:pointer;}
#inquiry:hover {color:#0aad0a;}