@charset "UTF-8";

/* === 공통 === */
body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

ul li {list-style:none;}

.logo > img {width:50px; height:50px; background-size:cover;}

.bi-person {font-size:18px;}

.social-bottom {padding-bottom:30px;}
.social {padding:20px 0; text-align:center;}

#inquiry {cursor:pointer;}
#inquiry:hover {color:#0aad0a;}

img {-webkit-user-drag:none;}

/* === 헤더 영역 === */
.myinfoBtn, .logout, .inquryBtn, .bi-cart3 {color:#333;}
