@charset "UTF-8";

body {overflow-x:hidden; width:100%; height:100vh;}
.m-container {
	width:80%;
	height:100%;	
	margin:10px auto;
	padding:30px;
}
.main-banner {
	padding:20px;
}
.main-banner-img > img {width:100%; height:400px; background-size:cover;}

/* === slick === */
.slick-slide {margin: 0px 20px;}
.slick-prev:before, .slick-next:before {color: black;}
.slick-slide {transition: all ease-in-out .3s; opacity: .2;}
.slick-active {opacity: .5;}
.slick-current {opacity: 1;}


/* === 카테고리 배너 === */
.categories-box {width:50px; height:100px; background:black;}
