@charset "UTF-8";

body {overflow-x:hidden; width:100%; height:100vh;}
.m-container {
	width:80%;
    height:800px;  
	margin:10px auto;
	padding:10px;
}

.title {
  text-align:center;
  padding:20px 0;
}

.itme-list {
	width:100%; height:600px; margin:10px auto;
	display:flex; flex-flow:row wrap; float:left;
	overflow:hidden;
}
.item-box {
	user-select:none;
	width:170px; height:250px;
	margin:10px 10px 10px 40px; border-radius:10px; color:#333;
}
.item-box:hover {
	border:0.5px solid #0aad0a; border-radius:10px;
	cursor:pointer;
	overflow:hidden;
}
.item-img {
	width:100%; height:80%; border-radius:10px;
	background-size:cover;
}
.itemName{width:100%; height:20%; text-align:center; line-height:25px;}
.itemPrice {display:block;}

.pagenation_box {
	position:absolute; left:50%; top:800px;
	width:100%; height:50px; 
	transform:translate(-50%);
}
.pagination {margin:0 auto;}